.A
{
    margin: 40px 0;
}
.B
{
    text-align:center;color:#04AA6D;font-size:32px;
}
.C
{
    text-align:center;font-size:18px;
}
.D
{
    padding:80px 0px;width:100%;background-color:#282A35;color:white; margin: 16px 0;
}
.e
{
    padding:80px 0px;width:100%;background-color:#282A35;color:white; margin: 16px 0;
}
.h1
{
    font-size:100px;
}
.h5
{
    font-size:20px;margin-bottom:30px;
}
.sect
{
    padding:80px 0px;width:100%;background-color:#D9EEE1;color:black; margin: 16px 0;
}
.ft
{
    text-align: center;background-color:#282A35;color:white;padding: 40px 0;
}
.brdr
{
    border:none;padding:8px 16px;overflow:hidden;text-decoration:none;text-align:center;cursor:pointer;white-space:nowrap;background-color:#04AA6D;color:white;font-size:18px;margin:auto;
            display:block;width:200px;border-radius:25px;font-weight:700;margin-bottom: 20px;
}
.ab1
{
    width:450px;
}
.brdr2
{
    border:none;padding:8px 16px;overflow:hidden;text-decoration:none;text-align:center;cursor:pointer;white-space:nowrap;background-color:#04AA6D;color:white;font-size:18px;margin:auto;
            display:block;width:200px;border-radius:25px;font-weight:700;margin-bottom: 20px;
}